
*{
    box-sizing: border-box;
    font-family: Inter;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Inter";
    src: url("/src/Inter-Medium.ttf")
  }

/* ----------------------------- SIDEBAR --------------------------*/
#sidebar {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    overflow: scroll;
}
#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar ul{
    list-style: none;
}
#sidebar li{
    width: 300px;
    margin-left: 10px;
}

#sidebar a{
    margin-right: 100px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
#sidebar a:hover{
    color: orangered;
}

/* ----------------------------- NAVBAR --------------------------*/


#navbar{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}

.navbar-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-links ul {
    list-style: none;
}
.navbar-links ul li {
    display: inline-block;
    text-decoration: none;
}
.navbar-links a {
    padding-left: 15px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}
.navbar-links a:hover{
    color: orangered;
}




.btnEntrar{
    color: white;
    padding: 10px;
    background-color: rgb(0, 89, 255);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}
.btnEntrar:hover{
    color: white;
    background-color: orangered;
}


#btnLeyendas:hover{
    color: red;
    background: url("../public/imgs/gifs/redthunder.gif");
    background-position: center;
    padding: 10px;
    border-radius: 10px;
}

#btnMarines:hover{
    color: rgb(0, 247, 255);
    background: url("../public/imgs/gifs/blueeffect.gif");
    background-position: center;
    padding: 10px;
    border-radius: 10px;
}

/* ---------------------- BOTÓN PERFIL (BOTON Y IMAGEN PERFIL) ------------------------------------- */

.btn-perfil{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(70, 70, 70);
    text-decoration: none;
}

.img-perfil{
    margin-left: 15px;
    border-radius: 1000%;
    overflow: hidden;
}

.img-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------- HOME ------------------------------------- */
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}

.home-content{
    /* display: flex; */
    height: 100%;
}

#detalles{
    color: white;
    text-shadow: 2px 2px #580202b4;
    width: 100%;
}

#detalles h1{
    font-size: 3em;
}


/* -------------------- ERROR ------------------------------------- */
#error{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-image: url("/public/imgs/sea.png");
    background-size: cover;
    color: white;
    
}

.error-contenido{
    font-size: 22px;
    text-align: center;
}



/* ------------------------ PERSONAJE ----------------------------- */
#personaje{
    padding: 10px 30px 0px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.644);
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.personaje-contenido{
    width: 100%;
    animation-name: slidein;
    animation-duration: 0.5s;
}

.imgPersonaje{
    width: 500px;
}

@keyframes slidein {
    from {
      opacity: 0;
      margin-left: 20%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
    }
}

.btnPoderes{
    color: white;
    cursor: pointer;
    font-weight: 400;
    background-color: black;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5%;
    transition: 0.2s;
}
.btnPoderes:hover{
    background: url("../public/imgs/gifs/sparks.gif");
    background-position: center;
}


/* -------------------------- PODERES ------------------------- */

.poderes{
    padding: 10px 30px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: 5px 5px 5px rgba(37, 34, 34, 0.315);
    overflow: scroll;
}
.poderes::-webkit-scrollbar {
    display: none;
  }


/* -------------------------- BARRA DE BUSQUEDA ------------------------- */
#buscador{
    background-color: rgb(83, 83, 83);
    padding: 7px;
    color: white;
    border-radius: 10px;
    border: none;
}

#buscador::placeholder{
    color: black;
}
#buscador:focus::placeholder{
    color: white;
}
#buscador:focus{
    outline: none;
}

/* Oculta la barra de busqueda si la ruta es Home */
.isHome{
    display: none;
}


/* -------------------------- LOGIN -------------------------- */
.login *{
    font-family: Poppins;
}

.login{
    width: 100vw;
    height: 100vh;
    background-image: url("/public/imgs/login1_onepiece.jpg");
    background-size: cover;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.login-formulario{
    width: 90%;
    height: 700px;
    border-radius: 35px;
    overflow: hidden;
}

.mitad-imagen{
    background-image: url("/public/imgs/login2_onepiece.jpg");
    background-size: cover;

}

.mitad-datos{
    display: flex;
    font-size: 22px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.mitad-datos input{
    font-size: 16px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}
.mitad-datos input[type=text]{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mitad-datos input[type=password]{
    margin-bottom: 30px;
}


.btnLogin{
    color: white;
    padding: 10px;
    width: 200px;
    background-color: rgb(0, 89, 255);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}
.btnLogin:hover{
    color: white;
    background-color: orangered;
}

.btnRegistro{
    color: white;
    padding: 10px;
    width: 200px;
    background-color: rgb(0, 255, 149);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 10px;
}
.btnRegistro:hover{
    color: white;
    background-color: orange;
}

.login-no-falla{
    display: none;
}

.login-falla{
    border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    color: red;
    background-color: rgba(255, 68, 0, 0.171);
    padding: 10px;
}


/* -------------------------- REGISTRO -------------------------- */

.registro{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
    background-color: white;
}

.registro h2{
    font-size: 2em;
    text-align: center;
}

.registro-datos{
    display: flex;
    flex-direction: column;
}

.registro-datos label{
    margin-bottom: 5px;
}

.registro-datos input{
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}

.registro-datos select{
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}

.btnRegistro2{
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 255, 149);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 10px;
}
.btnRegistro2:hover{
    color: white;
    background-color: orange;
}


/* -------------------------- PERFIL -------------------------- */

.perfil{
    background-color: black;
}

.perfil-banner{
    height: 30vh;
    overflow: hidden;
    background-color: rgb(145, 145, 145);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-banner:hover{
    filter: grayscale(50%);
}

.textoBanner{
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 100px;
    position: absolute;
}
.textoBannerHidden{
    display: none;
}


.perfil-banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.perfil-info-avatar{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: black;
    position: relative;
    height: 100px;
}

.perfil-avatar{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.perfil-avatar:hover > .perfil-avatar-img{
    filter: grayscale(50%);
}

.perfil-avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil-info-avatar label{
    margin-left: 180px;
}


.avatar-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avatar-content:hover{
    cursor: pointer;
}

.iconoCamara{
    width: 60px ;
    height: 60px;
}

.iconoCamaraHidden{
    display: none;
}


.perfil-contenido{
    background-color: black;
    display: flex;
    justify-content: center;
}

.perfil-contenido h3{
    color: orangered;
}

.perfil-contenido-bloque{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    color: white;
    border-radius: 30px;
    background-color: rgb(37, 37, 37);
}


.perfil-contenido-bloque input{
    width: 100%;
    margin-bottom: 5%;
    resize: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(122, 122, 122);
    border-top: none;
    border-left: none;
    border-right: none;
}

.perfil-contenido-bloque input:focus{
    border-bottom: 1px solid orangered;
    outline: none;
}

.perfil-contenido-bloque select{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 5%;
    resize: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(122, 122, 122);
    border-top: none;
    border-left: none;
    border-right: none;
}
.perfil-contenido-bloque select:focus{
    border-bottom: 1px solid orangered;
    outline: none;
}

/* Ocultar flechitas del input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.perfil-contenido-bloque textarea{
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(122, 122, 122);
}

.perfil-contenido-bloque textarea:focus{
    border: 1px solid orangered;
    outline: none;
}


.btnActualizarPerfil{
    margin-top: 10px;
    color: white;
    padding: 10px;
    width: 150px;
    background-color: rgb(0, 255, 115);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

.btnActualizarPerfil:hover{
    background-color: rgb(0, 60, 255);
}

.btnEliminarPerfil{
    margin-top: 15px;
    color: white;
    width: 150px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.btnEliminarPerfil:hover{
    color: black;
    background-color: white;
}

.btnNoEliminarPerfil{
    margin-top: 15px;
    color: white;
    padding: 10px;
    background-color: rgb(0, 204, 255);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.btnNoEliminarPerfil:hover{
    background-color: rgb(3, 48, 196);
}

.ventanaEliminar{
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.938);
}


.ventanaEliminar button{
    width: 200px;
    font-size: 20px;
}

/* -------------------------- BANNER SELECT -------------------------- */

.bannerSelect{
    margin-top: 5%;
    width: 900px;
    height: 100%;
    overflow: scroll;
    background-color: rgb(53, 53, 53);
    color: white;
    outline: none;
}

.bannerSelect::-webkit-scrollbar {
    display: none;
}

.bannerActual{
    width: 100%;
    height: 300px;
}

.bannerSelect-titulo{
    padding-left: 5%;
    margin-top: -10px;
}

.bannerSelect-titulo button{
    background-color: orangered;
    border: none;
    color: white;
    transition: 0.2s;
}

.bannerSelect-titulo button:hover{
    background-color: rgb(0, 255, 255);
    border: 1px solid white
}

.bannerSelect-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bannerSelect-titulo p{
    margin-top: -10px;
}

.bannerSelect-gallery{
    height: 100%;
    padding: 3%;
    background-color: rgb(12, 12, 12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.bannerSelect-gallery img{
    width: 100%;
    height: 150px;
    transition: 0.2s;
}
.bannerSelect-gallery img:hover{
    outline: 4px solid white;
}

.botonInvisible{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}